<h1>{{item.name}}: </h1>
<h3>${{item.cost}}</h3>
<img src={{item.image}}>
<h4>{{item.description}}</h4>
{{#if item.inCart}}
Added to your cart!
{{else}}
<button {{action 'addToCart' item}}>Add to Cart</button>
{{/if}}
<button {{action 'removeFromCart' item}}>Remove from Cart</button>

<button {{action 'delete' item}}>Delete Item</button>

{{new-comment item=item comment=comment submitComment="submitComment"}}
{{#each item.comments as |comment|}}
User: {{comment.user}}<br>
Posted on: {{comment.date}}<br>
Comment:<br>
{{comment.comment}}
<hr>
{{/each}}

{{#link-to 'store' }}<button class='btn btn-sm btn-success'>Store</button>{{/link-to}}
