<li>{{#link-to 'item' item.id}}{{item.name}}<br>
  ${{item.cost}}<br>
<img class="storePageImg" src={{item.image}}>{{/link-to}}<br>
{{item.description}}
{{#if item.inCart}}
  This is already in your cart!

{{else}}<br>
<button {{action 'addToCart' item}}>Add to Cart</button>
{{/if}}
<button {{action 'removeFromCart' item}}>Remove from Cart</button>
<button {{action 'emptyCart'}}>Empty Cart</button>
</li>
